@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  background-color: burlywood; }

div .menu-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 15px; }

div h1 {
  border: 1px solid black;
  font: 60px 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 10px; }
